<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main-container">
    <div class="border-container">
      <h1>Dothraki Translator</h1>
    <br>
      <div class="wrapper">
        <div id='past_searches'> Log</div>


          <form action="" method="">
    <input id="input_text" type="search" placeholder="Translate your English"> </form>
    <button id='butt'>do stuff</button>
    <button id='butt2'>create something</button>
      </div>



    <br>
      <div class="alert alert-dismissible alert-warning">
        <h4>Welcome, {{email}}!</h4>
      </div>


        <a href="/sessions/logout"><button type="button" class="btn btn-default">Logout</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="../js/jquery.js"></script>
<script src="../js/API_KEY.js"></script>
<script src="../js/script.js"></script>
